.pricing-container {
  height: 100vh;
  width: 100vw;
  max-width: 1920px;
  max-height: 1080px;
  margin: auto;
  margin-bottom: 0;
  padding: 40px ;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #078158, #1C1C1E);
}

.pricing-container h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffff
}

.pricing-container p {
  color: #fffddc;
  margin-bottom: 40px;
}

.pricing-container .desc {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.3cap;
  color: #909090;
  text-align: left;
  flex-grow: 1;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  padding: 30px 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 1.5rem;
  color: #333;
}

.card .price {
  font-size: 1.8rem;
  margin: 15px 0;
  color: #007BFF;
  margin-bottom: 2rem;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
}

.card ul li {
  margin-bottom: 10px;
  color: #444;
}

.card button {
  padding: 10px 20px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.card button:hover {
  background: #0056b3;
}

.popular {
  border: 2px solid #007BFF;
  position: relative;
}

.popular::before {
  content: 'Most Popular';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #007BFF;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.75rem;
  border-radius: 4px;
}

.cta-text {
  margin-top: 2rem;
  font-size: 1.6rem;
  margin-bottom: 0;
  padding-bottom: 0;

}

/* Footer */
.unauth-footer {
  background-color: #1C1C1E;
  padding-bottom: 2.3rem;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
  width: 100vw;
}

.unauth-footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unauth-footer-content p {
  margin-bottom: 20px;
  color: var(--unauth-subtext-color);
}

.unauth-footer-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.unauth-footer-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.unauth-footer-links li:hover {
  color: var(--unauth-accent-color);
}

.ul-and-cta-btn {
  align-items: end;
}